body {
  background-color: rgb(145, 140, 140);
  text-align: center;
}

.nav {
  background-color: rgb(234, 224, 224);
  position: fixed;
  height: 5rem;

  top: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: row;

  justify-content: space-between;

  text-align: center;
}
a {
  text-decoration: none;
  color: rgb(28, 40, 40);
}
.active-link {
  font-weight: bold;
  text-decoration: underline;
  color: red;
}
.home {
  margin-top: 7rem;
}

.about {
  margin-top: 7rem;
}

.not-defined {
  margin-top: 7rem;
}

footer {
  background-color: rgb(27, 25, 25);
  position: fixed;
  bottom: 0;
  height: 5rem;
  left: 0;
  right: 0;
  color: white;

  text-align: center;
}

.van {
  text-align: center;
  border-radius: 5rem;
  margin: 5px;
  background-color: bisque;
}
.vans {
  margin-bottom: 5rem;
}

.van-img {
  width: 215px;
  height: 200px;
  border-radius: 5rem;
}

.van-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.vans-header {
  background-color: rgb(199, 208, 208);
  margin-top: 6rem;
  margin-bottom: 3rem;
  border-radius: 3rem;
  height: 3rem;
}

.van-details {
  margin-top: 6rem;
}

.van-detail {
}

.van-detail-img {
  width: 400px;
  height: 400px;

  border-radius: 4rem;
}

p {
  padding: 1rem;

  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  width: 6rem;
  height: 2rem;
  background-color: rgb(173, 93, 23);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.dashboard {
  margin-top: 7rem;
}

.income {
  margin-top: 8rem;
}

.reviews {
  margin-top: 8rem;
}

.host-nav {
  display: flex;
  flex-direction: row;
  margin-top: 81px;
  border-radius: 5px;
  width: 30rem;
  justify-content: space-between;
  margin-left: 3px;
  background-color: rgb(184, 200, 200);
}
.host-nav a {
  background-color: bisque;
}

.user-vans {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 5rem;
  background-color: bisque;
  border-radius: 4rem;
}

.user-vans img {
  width: 400px;
  height: 400px;
  border-radius: 3rem;
}

.back-to-link {
  text-decoration: underline;
}

.van-detail-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 3px;
}

.van-detail-header div {
  flex: 1;
  background-color: rgb(160, 123, 67);
  padding: 2px;
  text-decoration: underline;
}

.search-container {
  background-color: rgb(183, 153, 64);
  margin-top: -25px;
  margin-bottom: 4px;

  border-radius: 2rem;
}

.search-options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 3px;

  background-color: rgb(217, 203, 185);

  margin-top: -1rem;
 
}


.back-link{
  margin-left: -33rem;
  background-color: rgb(168, 162, 127);
  padding: 5px;
  border-radius: 5px;
  text-decoration: underline;
  text-decoration-color: rgb(31, 129, 52);

  color: black;
  font-size: 20px;
}